.footer-container {
  background-color: #116835;
  width: 100%;
  height: 180px;
  padding: 20px 280px;

  .footer-content {
    display: inline-flex;
    margin-top: 10px;
    .footer-infor {
      color: #fff;
      font-size: 17px;
    }

    .footer-social {
      font-size: 30px;
      display: grid;
      margin-left: 90px;
      i {
        border: 15px;
      }
    }
  }

  .footer-link {
    color: #fff;
    margin: 10px 50px 10px 680px;
    .custom-link {
      text-decoration: none;
      color: #fff;
    }
  }
}
