.header-container {
  padding: 15px 80px;
  width: 100%;
  background-image: linear-gradient(to right, #fff, #116835);
  display: inline-flex;

  .header-logo{
    width: 80%;
  }
  .header-auth {

  }
}
