.header-container {
  padding: 15px 10px 15px 100px;
  width: 100%;
  // background-image: linear-gradient(to right, #fff, #116835);
  display: inline-flex;
  border-bottom: 2px solid #60d860;

  // .header-logo {
  //   width: 80%;
  // }
  .header-menu {
    position: absolute;
    right: 2rem;

    a:hover {
      color: black;
    }
    .header-menu-item:hover {
      color: #60d860;
      border-radius: 1rem;
    }
  }
}
