.contactUs-title {
  height: 8rem;
  color: #1DAF5A;
  font-weight: 600;
  font-size: 2.4rem;
  padding-top: 3rem;

  display: flex;
  justify-content: center;
}

.map-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 30rem;
}