.profile-container {
  background-color: #ffffff;
  width: 50%;
  margin: 1rem auto;
  border-radius: 0.4rem;
  padding-bottom: 1rem;

  .edit-icon {
    position: relative;
    left: 31rem;
  }
}

.field-input {
  height: 2.5rem;
  border: 1px solid #000;
  border-radius: 0.2rem;
}


  
  

